#gameScreen {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 0 auto; /* Center the element horizontally */
    position: absolute;
    width: 35%;
    height: 80%;
    top: 10%;
    left: 30%;
}

body{
    background-image: url('assets/bg.jpg');
    background-size: cover;
}